@charset "utf-8";

/* 메인 이미지 */
.main-img {
  max-width: 1760px;
  margin-top: 4%;
  margin-left: 80px;
  /* background-color: aquamarine; */
}

/* 메인 이미지 width */
.main-img img {
  width: 100%;
  display: block;
}

/* popup 이벤트 */
.openBtn {
  position: relative;
  bottom: 595px;
  left: 30px;
  border-radius: 10px;
  border: none;
  width: 5%;
  height: 50%;
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 105px;
  left: 27px;
  z-index: 9999;
  display: none;
  /* border: hidden; */
  background-color: red;
  width: 50%;
}

.popup {
  width: 100%;
  position: relative;
  border-radius: 8px;
  text-align: center;
}

.popup p {
  font-size: 25px;
}

.popup img {
  width: 100%;
  display: block;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 10%;
  color: #111;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
}

.overlay.open {
  display: block;
}

/* 메인 이미지 768px 반응형 구현*/
@media (max-width: 768px) {
  .main-img {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-img img {
    width: 100%;
    padding-top: 4%;
    height: auto;
  }
}

/* 메인 이미지 390px 반응형 구현*/
@media (max-width: 390px) {
  .main-img {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-img img {
    width: 100%;
    padding-top: 4%;
    height: auto;
  }
}

/* popup 이벤트 798px 반응형 구현*/

